rasa==3.6.21
rasa-sdk==3.6.2
rasa-x==0.39.3
transformers==4.30.2
tensorflow==2.13.0
numpy==1.23.5
scikit-learn==1.2.2
spacy==3.5.3
cloudpickle==2.2.1
aiohttp==3.8.4
colorhash==1.0.9
networkx==2.8.8
packaging==21.3
pydot==1.4.2
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0
redis==4.5.5
requests==2.31.0
rocketchat-API==1.22.2
sanic==23.3.0
sanic-jwt==1.7.0
sentry-sdk==1.25.1
simplejson==3.19.1
typing-extensions==4.5.0
urllib3==1.26.15
websockets==11.0.3